#main{
  text-align: center;
}

p{
  margin-top: 30px;
}

#titlefont{
    font-size: 35px;
    margin-bottom: 30px;
}

#subfont{
  font-size: 20px;
}

#tagfont{
  font-size: 18px;
}

.startBtn {
  background-color: whitesmoke;
  border-radius: 20px;
  display: block;
  width: 250px;
  height: 50px;
  border: 0px;
  font-size: 20px;
}

.startBtn:hover, .startBtn:focus{
  background-color: bisque;
  color: whitesmoke;
}

#toc-content {
  display: none;
  font-size: 20px;
}

#toc-toggle {
  display: block;
  width: 150px;
  cursor: pointer;
  color: #2962ff;
  font-size: 20px;
}

#toc-toggle:hover {
  text-decoration: underline;
}

#license {
  margin-top: 25px;
  font-size: 17px;
}

#toc-toggle2 {
  width: 150px;
  cursor: pointer;
  color: #2962ff;
  font-size: 20px;
}

#toc-toggle2:hover {
  text-decoration: underline;
}