#qna{
  display: none;
}

.qnafont{
  font-family: 'BinggraeSamanco', sans-serif;
  font-size: 22px;
}

.qBox {
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 10px;
  max-width: 700px;
  height: 200px;
  line-height: 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom : 1%;
  padding : 5%;
}

.answerList {
  background-color: whitesmoke;
  border-radius: 20px;
  display: block;
  width:100%;
  max-width: 700px;
  border: 0px;
  font-size: 20px;
}

.answerList:hover, .answerList:focus {
  background-color: bisque;
  color: whitesmoke;
} 

.status {
  height: 15px;
  max-width: 700px;
  background-color: whitesmoke;
  border-radius: 20px;
}

.statusBar {
  height: 100%;
  border-radius: 25px;
  background: #f6e6b4;
  background: -moz-linear-gradient(top,  #f6e6b4 0%, #ed9017 100%); 
  background: -webkit-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%);
  background: linear-gradient(to bottom,  #f6e6b4 0%,#ed9017 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 );
}

.statusNum{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}