.resultfont{
  font-family: 'BinggraeSamanco','WandohopeB', sans-serif;
<<<<<<< HEAD
  font-size: 17px
=======
  font-size: 16px;
>>>>>>> 1376e6b68cef0e4ef7de27b58c5b0bc3b18826e7
}

#result {
  display: none;
  text-align: center;
  width: 95%;
  max-width: 700px;
  background-color: whitesmoke;
  border-radius: 20px;
}

#resultImg{
  width: 100%;
  max-width: 450px;
}

#shareResult {
  text-align: center;
  background-color: whitesmoke;
  width: 90%;
  border-radius: 20px;
}

<<<<<<< HEAD
#again{
  margin-left: auto;
  margin-right: auto;
}

=======
#resultimg{
  width: 5%;
  height: 5%;
}

#again{
  margin-left: auto;
  margin-right: auto;
}

>>>>>>> 1376e6b68cef0e4ef7de27b58c5b0bc3b18826e7
.resultname {
  font-size: 2.1em;
}

.kakao {
  color: #ffffff;
  background-color: #ffE500;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.again {
  color: black;
  background-color: white;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.kakao:hover, .kakao:focus {
  background-color: whitesmoke;
  color: #ffE500;
} 

.share {
  color: black;
  background-color: gainsboro;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}